<div id="<%= dom_id note %>">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= note.content %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= note.position %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= note.parent_id %>
  </p>

</div>
