<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<%= turbo_frame_tag "posts" do %>
  <%= render 'posts/posts', posts: @posts %>
<% end %>


<%= turbo_frame_tag :newx %>

<%= link_to 'NP', new_post_path, data: {turbo_frame: :newx} %>
<%= link_to "New post", new_post_path %>





